<div class="container">
  <h2>FAQ</h2>
  <div *ngFor="let question of questions" class="question-list">
    <div class="question mat-elevation-z5">
      <div
        (click)="question.displayAnswer = !question.displayAnswer"
        class="title"
      >
        {{ question.title }}
      </div>
      <div *ngIf="question.displayAnswer" class="answer">
        {{ question.answer }}
      </div>
    </div>
  </div>
</div>
