.container {
  max-width: 600px;
  margin: auto;

  .question-list {
    .question {
      border: 0.1rem solid #c4c4c4;
      border-radius: 0.4rem;
      overflow: hidden;
      margin: 0 0 1.5rem;

      .title {
        background-color: darken(#f8f9fa, 15%);
        padding: 8px;
      }

      .answer {
        padding: 8px;
      }

      &:hover {
        transform: scale(1.1);
        transition: all 0.2s;
      }
    }
  }
}
