<mat-toolbar>
  <img
    class="brand-logo"
    src="../../../../../assets/virus-bacteria-microorganism-12-512.webp"
    height="50px"
    width="50px"
    loading="lazy"
  />
  <a mat-button routerLink="/">Covid 19 Tracker</a>
  <span class="menu-spacer"></span>
  <div><a mat-button routerLink="/faq">FAQ</a></div>
</mat-toolbar>
