.page-container {
  position: relative;
  min-height: 100vh;
  background-color: lighten($color: #f8f9fa, $amount: 0);

  .container {
    padding-top: 50px; /*Navbar height */
    padding-bottom: 50px; /* Footer height */
    padding-left: 8px;
    padding-right: 8px;
  }
}
