footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: darken(#3d3b3b, 10%);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;

  div {
    padding-left: 5px;
  }
}
