<div class="content">
  <div *ngIf="summaryData$ | async as summaryData">
    <div class="summary-list">
      <div class="summary mat-elevation-z5 confirmed">
        <h3>confirmed</h3>
        <div>{{ summaryData.cases | number }}</div>
      </div>
      <div class="summary mat-elevation-z5 active">
        <h3>active</h3>
        <div>{{ summaryData.active | number }}</div>
      </div>
      <div class="summary mat-elevation-z5 recovered">
        <h3>recovered</h3>
        <div>{{ summaryData.recovered | number }}</div>
      </div>
      <div class="summary mat-elevation-z5 dead">
        <h3>dead</h3>
        <div>{{ summaryData.deaths | number }}</div>
      </div>
    </div>
    <div class="update-date">
      Last updated: {{ summaryData.updated | date: "medium" }}
    </div>
  </div>
  <div>
    <canvas id="canvas" class="chart-container">{{ chart }}</canvas>
  </div>
</div>
