.content {
  .summary-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    .summary {
      height: 100px;
      width: 200px;
      border-radius: 16px;
      border: solid 2px grey;
      margin: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      font-size: 24px;
      background-color: white;
      text-transform: uppercase;

      &.confirmed {
        color: red;
        border-color: red;

        &:hover {
          background-color: lighten($color: red, $amount: 40%);
        }
      }

      &.active {
        color: blue;
        border-color: blue;

        &:hover {
          background-color: lighten($color: blue, $amount: 40%);
        }
      }

      &.recovered {
        color: green;
        border-color: green;

        &:hover {
          background-color: lighten($color: green, $amount: 40%);
        }
      }

      &.dead {
        color: gray;
        border-color: gray;

        &:hover {
          background-color: lighten($color: gray, $amount: 40%);
        }
      }

      &:hover {
        transform: scale(1.2);
        transition: all 0.2s;
        color: white;
      }

      h3 {
        font-size: inherit;
      }
    }
  }

  .update-date {
    text-align: center;
    margin: 8px;
    padding-top: 16px;
  }

  .chart-container {
    margin: 16px auto;
    max-height: 600px;
    width: 80% !important;
  }
}
